@model ViaMarket.Models.ActivateViewModel
@{
    ViewBag.Title = "Activate";
}

<h2>@ViewBag.Title.</h2>
    <h4>Activation</h4>
    <hr />
    @if (Model.Successful)
    {
        <div>Your account was successfully activated! You can now login.</div>
    }else{
        <div>The activation link you provided is not valid!</div>
    }
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
