@{
    ViewBag.Title = "About";
}
<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
<!--
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Getting started</h1>
                    <p> You are a VIA student and you have stuff to sell ? </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>What is ViaMarket ?</h1>
                    <p>ViaMarket is the first place where Via students can sell and buy what they need. </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>--><!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<hr />
<div class="container marketing custom-container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="~/Content/Pictures/bike.png" alt="Generic placeholder image">
            <h2>Sell your stuff</h2>
            <p>When you arrive here, you need a bike but when you leave the University, you don't need it anymore, with ViaMarket, you don't need to worry about that anylonger, create a annouce and if some is interested, he will get in touch with you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="~/Content/Pictures/money.png" alt="Generic placeholder image">
            <h2>Save money</h2>
            <p>When your are a student you do not always have the money to buy first hand goods. With ViaMarket, you can find goods that fits you the best. You can also compare the goods and find the one who fits  your budget the best.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="img-circle" src="~/Content/Pictures/opportunity.png" alt="Generic placeholder image">
            <h2>Get opportunities</h2>
            <p>You played an instrument for ten years and you feel like you can teach that to someone else, why not giving lessons to someone who is interested by your skills. Get the opportunity to share your knowledge and meet people.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image  img-responsive img-rounded" src="~/Content/Pictures/book500.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive img-rounded" src="~/Content/Pictures/sound.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">On ViaMarket you can find a lot of things.  <span class="text-muted">Especially what you need.</span></h2>
            <p class="lead">With the number of students in VIA, you have good chances to find what you need. </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">You didn't find what you need ? <span class="text-muted"> Set up an alert</span></h2>
            <p class="lead">With this new functionality you will be the first to know that something that you need is for sell, don't miss any opportunity.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive img-rounded" src="~/Content/Pictures/cook.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
</div>