<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Contact";

}
<hr />
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/hugo.png" alt="Generic placeholder image">
            <h2>Hugo Mackpayen</h2>
            <p>Contact : <a href="mailto:215531@via.dk">215531@via.dk</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/maxime.png" alt="Generic placeholder image">
            <h2>Maxime Jimenez</h2>
            <p>Contact : <a href="mailto:215527@via.dk">215527@via.dk</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/nicolas.png" alt="Generic placeholder image">
            <h2>Nicolas Foulon</h2>
            <p>Contact : <a href="mailto:215524@via.dk">215524@via.dk</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/sven.png" alt="Generic placeholder image">
            <h2>Sven Nyffenegger</h2>
            <p>Contact : <a href="mailto:215535@via.dk">215535@via.dk</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
=======
﻿@{
    ViewBag.Title = "Contact";

}
<hr />
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/hugo.png" alt="Generic placeholder image">
            <h2>Hugo Mackpayen</h2>
            <p>Contact : <a href="mailto:215531@via.dk">215531@via.dk</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/maxime.png" alt="Generic placeholder image">
            <h2>Maxime Jimenez</h2>
            <p>Contact : <a href="mailto:215527@via.dk">215527@via.dk</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/nicolas.png" alt="Generic placeholder image">
            <h2>Nicolas Foulon</h2>
            <p>Contact : <a href="mailto:215524@via.dk">215524@via.dk</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="img-circle" src="~/Content/Pictures/sven.png" alt="Generic placeholder image">
            <h2>Sven Nyffenegger</h2>
            <p>Contact : <a href="mailto:215535@via.dk">215535@via.dk</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
>>>>>>> cad916811f11b53f66debc7ed0c72de5318ba709
</div>