@model ViaMarket.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="container custom-container">
    <div class="row">
        @foreach(var item in Model.Items)
        {
            <div class="col-xs-6 col-md-3">
                <a href="~/Item/Details/@item.Id" class="thumbnail">
                    @if (item.Image.Count() == 0)
                    {
                        <img src="/ItemsPictures/default.jpg" class="img-thumbnail img-responsive" />
                    }
                    else
                    {
                        <img src="@item.Image.ElementAt(0).PathPreview" class="img-thumbnail img-responsive" />
                    }
                    <h4 class="text-center">@item.Title</h4>
                </a>
            </div>

        }
    </div>
</div>
<div class="container">
    <ul class="pagination">
        @if (Model.Pages[0].id == 1)
        {
            <li class="disabled"><a href="#">&laquo;</a></li>
        }
        else
        {
            <li><a href="/Home/Index/@Model.Pages[0].id-1">&laquo;</a></li>
        }
        @foreach (var page in Model.Pages)
        {
            if (page.isCurrent)
            {
                <li class="active"><a href="/Home/Index/@page.id">@page.id</a></li>
            }
            else
            {
                <li><a href="/Home/Index/@page.id">@page.id</a></li>
            }
        }
        @if (Model.Pages[Model.Pages.Count-1].id == Model.MaxPage)
        {
            <li><a class="disabled" href="#">&laquo;</a></li>
        }
        else
        {
            <li><a href="/Home/Index/@Model.Pages[Model.Pages.Count - 1].id+1">&laquo;</a></li>
        }
    </ul>
</div>
